@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: hsl(229, 24%, 87%);
}

.step-section button{
    border: 1px solid #fff;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

input{
    outline: none;
    border: .5px solid #D1D5DB;
    padding-right: 16rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
    padding-top: .5rem;
    font-size: .9rem;
}
label{
    display: block;
}

@media screen and (max-width: 720px) {
    .step-section{
        background-image: 'url("/bg-sidebar-mobile.svg")';
        width: 100%;
        visibility: visible;
    }
   
}
@media screen and (min-width: 721px){
    .step-section{
        background-image: 'url("/bg-sidebar-desktop.svg")';
    }
}
/*.step-section button{
    background-color:  hsl(206, 94%, 87%);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}*/